.tree ul, .tree li, .tree div {
  -webkit-box-sizing:border-box;
  -moz-box-sizing:border-box;
  box-sizing:border-box
}

.tree ul {
  margin: 0px;
  padding: 0px 0px 0px 5px;
  list-style-type: none;
  list-style-position: outside;
  width:100%;
}

.tree li {
  padding: 0 0 0 15px;
  margin-left: 0;
}

.tree div {
  -webkit-user-select: none;
  -moz-user-select: none;
  white-space: nowrap; 
}

.tree .node {
  margin: 0;
  padding: 0; 
  -webkit-box-shadow: 3px 2px 5px 1px #cccccc;
  -moz-box-shadow: 3px 2px 5px 1px #cccccc;
  box-shadow: 3px 2px 5px 1px #cccccc;
  background-color: #f1f1f1;
}

.tree .box {
    height:auto;
    padding:0 0 4px 2px;
}

.tree .collapsed ul {
    display:none;
}

.tree input.tree-select {
    float: left;
}
